* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato";
  src: url(/Lato-Regular.ttf);
}

body {
  background: rgb(15, 21, 43);
  color: white;
  font-family: "Lato", sans-serif;
}

.navbar {
  width: 100%;
  height: 66px;
  background: rgb(5, 5, 30);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
}

.logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img {
  width: 200px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  height: 80vh;
  padding: 20px;
}

.main h3 {
  color: rgb(200, 130, 0);
  margin: 24px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.main h1 {
  font-size: 24px;
  margin: 10px 25px;
  font-family: Arial, Helvetica, sans-serif;
}

.main p {
  font-size: 16px;
  margin: 25px;
  font-family: "Lato", sans-serif;
}

.extra {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.extra img {
  width: 80px;
  height: 80px;
  border: 2px solid grey;
  padding: 15px;
  border-radius: 50px;
  margin: 20px;
  background: rgb(27, 32, 54);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.blocks {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 20px;
}

.blocks p {
  width: 170px;
  font-size: 16px;
  text-align: center;
  color: rgb(222, 222, 222);
}

.blocks h2 {
  font-size: 14px;
}

.button {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  background-color: orangered;
  color: white;
  font-family: "Lato", sans-serif;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 2px solid transparent;
  transition: all 0.33s;

  &:hover {
    border: 2px solid red;
    background-color: rgb(255, 100, 43);
  }
}
